<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      .container {
        width: 320px;
        margin: 50px auto;
      }
    </style>
  </head>
  <body>
    <h4>基本使用</h4>
    <div id="app">
      <div class="container">
        <div>
          <label for="">自动保存</label>
          <input type="text" v-model="form.text" />
        </div>
        <div>
          <label for="">只存内层</label>
          <input type="text" v-model="form.memtext" />
        </div>
        <div>
          <label for="">
            radio
            <input type="radio" v-model="form.radio" name="vvv" value="1" />
            <input type="radio" v-model="form.radio" name="vvv" value="12" />
          </label>
        </div>
        select
        <select name="" id="" v-model="form.select">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
        <div>count {{ count }} <button @click="counter">counter</button></div>
        <button @click="reset">reset</button>
        <button @click="reload">reload</button>
      </div>
    </div>

    <h4>自定义cachePrefix</h4>
    <section id="foo">
        <div>
          <label for="">修改为 custom_key </label>
          <input type="text" v-model="text" />
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../dist/VueDataCache.umd.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
